body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.form_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagination_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination_buttons  button {
  width:70px;
}

.form_button {
  width: 60%;
  margin: 2%;
}
